@page "{playerId}"
@model Emprise.Web.Pages.Game.JoinModel
@{
    ViewData["Title"] = "Join";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Join</title>
</head>
<body>

</body>
</html>
