@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, input, textarea, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0px;
}

i, em {
    font-style: normal;
}

address, caption, em, code {
    font-style: normal;
    font-weight: normal;
}

pre, code, kbd, samp {
    font-family: inherit;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    color: #999
}

a:visited {
    color: #FFF;
}

a {
    color: #999;
    outline: none;
}

input:focus, textarea:focus {
    outline: none
}

input, textarea, select {
    font-family: inherit;
    font-weight: inherit
}

* {
    margin: 0px;
    padding: 0px;
}



html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "PingFang","Microsoft YaHei","Arial",sans-serif;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #666;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

.big_bg {
    min-height: 100%;
    position: relative;
}

.nav {
    background-color: rgba(0,0,0,0.1);
}

.nav-title {
    height: 20px;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}

.nav-back {
    display: inline-block;
    height: 26px;
    padding: 7px 0 7px 6px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.nav-back span {
    float: left;
    padding: 5px 5px 5px 2px;
    font-size: 14px;
    line-height: 16px;
}

.main {
  
}

.login-nonreg {
    padding: 0 10px;
}

.login-nonreg .form-text-login {
    margin: 14px 0 0;
}

.form-text-focus-login {
    border-color: #5f7dbe;
}

.form-text-login {
    position: relative;
    height: 32px;
    padding: 0 4px 0 68px;
    border: solid #d0d6e1 1px;
    background: #f5f6f9;
    border-radius: 3px;
    box-shadow: 0 1px 3px #ebecef inset;
}

.form-text-login label {
    width: 68px;
    height: 18px;
    padding: 7px 0;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}

.form-text-login .form-text {
    font-size: 14px;
    color: #4e5563;
}

.form-text {
    width: 100%;
    height: 18px;
    padding: 7px 0;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: #4e5563;
    line-height: 18px;
    overflow: hidden;
}

.form-text-clear {
    width: 18px;
    height: 18px;
    padding: 7px 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: -32px;
    overflow: hidden;
}

.fn-hide {
    display: none;
}

.icon {
    background: url(/images/bg-icon.png) no-repeat;
    background-size: 160px auto;
}

.icon-clear {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -20px -20px
}

.fn-mt-login {
    margin-top: 14px;
}

.fn-mlr {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-bar-tawny {
    display: block;
    padding: 7px 0;
    border-color: #8f8a69;
    background: #8f8a69;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.tips {
    color: #FF0;
}

.footer {
    padding: 12px 10px;
    line-height: 16px;
    position: absolute;
    bottom: 0px;
}

.footer2 {
    padding: 12px 10px;
    line-height: 16px;
}

.section {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}

.section .blist li {
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    font-size: .875em;
    border-bottom: 0 none
}

.section .blist li a {
    display: inline;
}

.section .blist span {
    height: 28px;
    line-height: 28px;
}

.section .blist .binfo{

}

.binfo {
    position: absolute;
    right: 20px;
    z-index: 10;
}

.mt15{
    margin-top:15px;
}

.join {
    margin-bottom: 10px;
    overflow: hidden
}

    .join .btn {
        font-size: 1em;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        width: 160px;
        background: #8f8a69;
        padding: 10px 30px;
        text-align: center
    }

.clist li {
    position: relative;
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0;
}

.clist li .sp_1 {
    display: block;
    float: left;
    overflow: hidden;
}

.clist li .sp_1 a {
    font-size: 1em;
    color: #ff6600;
}

.clist li .bline {
    display: block;
    float: left;
    overflow: hidden;
    color: #dddddd;
    margin: 0px 5px;
}

.clist li a {
    font-size: 1em;
}

.b_l{
    color:#fff;
}

.btn-small-tawny{
    border-color: #8f8a69;
    background: #8f8a69;
    color: #fff;
}

.btn{
    color:#FFF;
}
.account li {
    width: 48%;display: inline-block;
}

.account li label {
    margin-right: 5px;
}

.account li input {
    border: 0;
    border-bottom: 1px solid #fFF;
    width: 40px;
    background-color: transparent;
    color: #FFF;
    text-align: center;
}

.account .playerinfo {
    line-height: 40px;
    text-align: left;
    margin-left: 40px;
}

.account .playerinfo a{
    text-decoration:underline;
}

.account .attr {
    height: 120px;
}


.account .playername {
    border: 1px solid #d0d6e1;
    border-radius: 6px;
    background-color: #FFF;
    width: 200px;
    padding: 10px 15px;
}

.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.my-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    /* 这里防止当用户长按屏幕，出现的黑色背景色块，以及 iPhone 横平时字体的缩放问题 */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 进入和出去的动画 */
.confirm-fade-enter-active {
    animation: opacity 0.3s;
}

    .confirm-fade-enter-active .confirm-content-wrap {
        animation: scale 0.3s;
    }

.confirm-fade-leave-active {
    animation: outOpacity 0.2s;
}

/* 包裹层容器样式 */
.confirm-content-wrap {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    width: 280px;
    margin: 0 auto;
    background: #000;
    border-radius: 5px;
    z-index: 999;
    user-select: none;
    border: 1px solid #333;
}

/* 顶部标题部分 */
.my-confirm-title {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

/* 中间内容部分 */
.my-confirm-content {
    padding: 0 15px;
    padding-top: 20px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* 底部按钮样式 */
.my-operation {
    display: flex;
    border-top: 1px solid #333;
}

    .my-operation .my-cancel-btn, .confirm-btn {
        flex: 1;
    }

    .my-operation .confirm-btn {
        color: #ffb000;
    }

    .my-operation .my-btn-text {
        text-align: center;
        font-size: 16px;
        margin: 14px 0;
        padding: 6px 0;
    }

/* 其他修饰样式 */
.my-border-right {
    border-right: 1px solid #333;
}

/* 进来的动画 */
@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* 出去的动画 */
@keyframes outOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.toast {
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 45%;
    transition: all .5s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    background: rgba(17, 17, 17, 0.7);
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    max-width: 150px;
}

[v-cloak] {
    display: none;
}