@page
@model Emprise.Web.Areas.Admin.Pages.Npc.DeleteModel
@{
    ViewData["Title"] = "Npc管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Npc管理</strong> / <small>删除Npc</small></div>
</div>

<div class="am-tabs am-margin" data-am-tabs>
    是否要删除Npc  "@(Model.Npc?.Name)(id=@(Model.Npc?.Id))" ?
</div>

<div class="am-margin">
    <form class="am-form" method="post">
        <button type="submit" class="am-btn am-btn-primary am-btn-xs">确认删除</button>
        <a asp-page="./Index" class="am-btn am-btn-default am-btn-xs backup">返回</a>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}
