@page
@model Emprise.Admin.Pages.Config.IndexModel
@{
    ViewData["Title"] = "配置管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

@section CssJs{

    <link rel="stylesheet" type="text/css" href="~/simditor/styles/simditor.css" />

    <script type="text/javascript" src="~/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/simditor.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/beautify-html.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/simditor-html.js"></script>

    <link rel="stylesheet" href="~/simditor/styles/simditor-html.css" media="screen" charset="utf-8" />
}
<div class="admin-content-body">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">配置管理</strong> / <small>浏览配置</small></div>
    </div>

    <div class="am-margin">
        <form class="am-form" method="post">
            <div class="am-g">
                <p style="color:#666;font-size:10px;">注意：修改后1分钟内生效，<a href="@(Url.Page("Edit"))">进入编辑模式</a></p>
                <div class="am-fade  am-in am-active">

                    @foreach (var config in Model.Configs) 
                    { 
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-2 am-text-right">
                                @(config.Name)
                            </div>
                            <div class="am-u-sm-4">
                                @(config.Value)

                            </div>
                            <div class="am-u-sm-6"></div>
                        </div>
                    }

                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        $(function () {


            $("input[type=checkbox]:checked").each(function () {
                $(this).parent(".am-btn").addClass("am-active");
            });
        });
    </script>
}
