@page
@model Emprise.Web.Areas.Admin.Pages.User.PasswordModel
@{
    ViewData["Title"] = "用户管理";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>修改密码</small></div>
</div>

<hr />

<div class="am-g">

    <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">


    </div>

    <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" method="post">


            <div class="am-g am-margin-top-sm">
                <div class="am-u-sm-2 am-text-right">
                    <label asp-for="ModifyPasswordInput.NewPassword" class="control-label"></label>
                </div>
                <div class="am-u-sm-10">
                    <input type="password" asp-for="ModifyPasswordInput.NewPassword" placeholder="新密码">
                    <span asp-validation-for="ModifyPasswordInput.NewPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="am-g am-margin-top-sm">
                <div class="am-u-sm-2 am-text-right">
                    <label asp-for="ModifyPasswordInput.ConfirmPassword" class="control-label"></label>
                </div>
                <div class="am-u-sm-10">
                    <input type="password" asp-for="ModifyPasswordInput.ConfirmPassword" placeholder="重复新密码">
                    <span asp-validation-for="ModifyPasswordInput.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>



            <div class="am-g am-margin-top-sm">
                <div class="am-u-sm-2 am-text-right">

                </div>
                <div class="am-u-sm-10">
                    <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                    <a asp-page="./Index" class="am-btn am-btn-default am-btn-xs backup">返回</a>
                    <div class="am-inline-block am-padding-left">
                        <p style="color:#ff0000">@(Model.ErrorMessage)</p>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>