@page
@model Emprise.Web.Areas.Admin.Pages.ModifyPasswordModel
@{
    ViewData["Title"] = "修改密码";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改密码</strong> / <small>ModifyPassword</small></div>
</div>

<hr />

<div class="am-g">

    <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">


    </div>

    <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal" method="post">
            <div class="am-form-group">
                <label for="user-name" class="am-u-sm-3 am-form-label">原密码 / Password</label>
                <div class="am-u-sm-9">
                    <input type="password" asp-for="ModifyPasswordInput.Password" placeholder="密码 / Password">
                    <small>输入你正在使用的密码...</small>
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-email" class="am-u-sm-3 am-form-label">新密码 / NewPassword</label>
                <div class="am-u-sm-9">
                    <input type="password" asp-for="ModifyPasswordInput.NewPassword" placeholder="新密码 / NewPassword">
                    <small>输入你的新密码...</small>
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-phone" class="am-u-sm-3 am-form-label">重复新密码 / ConfirmPassword</label>
                <div class="am-u-sm-9">
                    <input type="password" asp-for="ModifyPasswordInput.ConfirmPassword" placeholder="重复新密码 / ConfirmPassword">
                    <small>再次输入你的新密码...</small>
                </div>
            </div>


            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-3">
                    <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                </div>
            </div>

            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-3">
                    <p style="color:#ff0000">@(Model.ErrorMessage)</p>
                    <p style="color:#5FB878">@(Model.SueccessMessage)</p>
                </div>
            </div>

        </form>
    </div>
</div>