@page
@model Emprise.Web.Pages.Game.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>@(Model.Title)</title>
    <link href="/css/game.css" rel="stylesheet" />
</head>
<body>
    <div class="bg" id="app" @@click="showchat=false"  v-cloak>
        <header>
            <span class="username">{{myinfo.name}} <{{myinfo.status}}中></span>
            <div class="hps">
                <div class="hp">
                    <div class="hpLine" v-bind:style="{width:hpLength+'px'}"></div>
                </div>
                <div class="mp">
                    <div class="mpLine" v-bind:style="{width:mpLength+'px'}"></div>
                </div>
            </div>
            <span class="email" @@click="showEmail(1)">✉<em v-if="unreadEmailCount>0">({{unreadEmailCount>99?"99+":unreadEmailCount}})</em></span>
            <span class="setting" v-show="myBox!=''" @@click="myBox=''">╳</span>
        </header>
        <div class="exp" id="exp">
            <div class="expLine" id="expLine"></div>
        </div>


        <div id="chat">
            <span class="showchat" @@click.stop="showchat=true;">&nbsp;聊&nbsp;</span>

            <ul>
                <li v-for="chat,index in chats"><a href="javascript:;" class="player" @@click="showPlayer(chat.playerId)">{{chat.sender}}</a>：{{chat.content}}<em>({{chat.postDate}})</em></li>
            </ul>
        </div>

        <div id="map">
            <div id="title">
                <marquee class="marquee" scrollamount="5">
                    <span class="roomDescription" v-html="room.description">{{room.description}}</span>
                </marquee>
            </div>

            <div id="room">
                <div style="margin-left:100px;">
                    <div id="onlinelist">
                        <span>这里有</span>
                        <template v-for="player,index in players">
                            <button class="online player" @@click="showPlayer(player.playerId)" v-if="player.playerName!=myinfo.name">{{player.playerName}}</button>
                        </template>
                        <template v-for="npc,index in npcs">
                            <button class="online npc" @@click="showNpc(npc.id)">*{{npc.name}}</button>
                        </template>

                    </div>
                    <div id="route" style="position:relative">
                        <div class="ditection">
                            <div class="row">
                                <div class="item"></div>
                                <div class="item exit" @@click="move(room.north)" @@dblclick="setRoom('north')">{{room.northName}}</div>
                                <div class="item"></div>
                            </div>
                            <div class="row">
                                <div class="item exit" @@click="move(room.west)" @@dblclick="setRoom('west')">{{room.westName}}</div>
                                <div class="item cur">{{room.name}}</div>
                                <div class="item exit" @@click="move(room.east)" @@dblclick="setRoom('east')">{{room.eastName}}</div>
                            </div>
                            <div class="row">
                                <div class="item"></div>
                                <div class="item exit" @@click="move(room.south)" @@dblclick="setRoom('south')">{{room.southName}}</div>
                                <div class="item"></div>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="action">
                    <button @@click="search">探索</button>
                    <button @@click="meditate" v-show="myinfo.mp<myinfo.maxMp">打坐</button>
                    <button @@click="exert" v-show="myinfo.hp<myinfo.maxHp">疗伤</button>
                    <button @@click="fish" v-show="room.canFish">钓鱼</button>
                    <button @@click="dig" v-show="room.canDig">挖矿</button>
                    <button @@click="collect" v-show="room.canCollect">采药</button>
                    <button @@click="cut" v-show="room.canCut">伐木</button>
                    <button @@click="hunt" v-show="room.canHunt">打猎</button>
                    <button class="stop" @@click="stopAction" v-show="myinfo.status!='空闲'">停止{{myinfo.status}}</button>

                </div>
                <span id="mypack" @@click="showMyPack">背包</span>

            </div>

        </div>

        <div>
            <span class="myQuest" v-if="mainQuest.id && myinfo.status!='切磋'" @@click="showQuestDetail(mainQuest.id)">{{mainQuest.name}}</span>

            <span id="myFighting" class="twinkling" v-if="myinfo.status=='切磋'&&myBox!='fighting'"  @@click="showMyFighting">
                你正在切磋中，点击进入切磋界面
            </span>

            <span id="myKilling" v-if="myinfo.status=='战斗'"  @@click="showMyKilling">战斗</span>

            <div id="message" ref="message">

                <ul>
                    <li v-for="message,index in messages">
                        <template v-if="message.type==1">
                            <p v-html="message.content">{{message.content}}</p>
                        </template>
                        <template v-else-if="message.type==2">
                            <p v-html="message.content" style="margin:1px 0px;" @@click="clickCommand">{{message.content}}</p>
                        </template>
                        <template v-else-if="message.type==3">
                            <p v-html="message.content" class="chat">{{message.content}}</p>
                        </template>
                        <template v-else>
                            <p v-html="message.content">{{message.content}}</p>
                            <em>({{message.postDate}})</em>
                        </template>

                    </li>
                </ul>
            </div>

        </div>

        <footer>
            <a href="javascript:;" @@click="showMe"><span>人物</span></a>
            <a href="javascript:;" @@click="showFriend"><span>社交</span></a>
            <a href="javascript:;" @@click="showMyQuest(2)"><span>任务</span></a>
            <a href="javascript:;" @@click="showShop"><span>商店</span></a>
            <a href="javascript:;" @@click="showRanking"><span>排行</span></a>
            <a href="javascript:;" @@click="showHelp"><span>帮助</span></a>

        </footer>

        <div v-show="showchat" id="chatBox" @@click.stop="">
            <div>
                <input ref="msg" v-model="msg" v-on:keyup.enter="send" />
                <button id="send" @@click="send">发送</button>
            </div>
        </div>

        <div class="myBox" ref="myBox" v-show="myBox!=''">
            <ul class="menu" ref="menu" v-show="myBoxMenus.length>0">
                <template v-for="menu,index in myBoxMenus">
                    <li v-if="menu.id==myBox" class="cur">
                        {{menu.name}}
                    </li>
                    <li @@click="clickMenu(menu.id)" v-else>
                        {{menu.name}}
                    </li>
                </template>

            </ul>
            <div class="content" ref="content">
                <div class="playerinfo" v-if="myBox=='player'">
                    <p>{{player.name}}</p>
                    <hr />
                    <p v-for="description,index in player.descriptions">
                        {{description}}
                    </p>
                    <div class="mt15">
                        <button type="button" v-for="command,index in player.commands" @@click="playerAction(player.id,command)">{{command.commandName}}</button>
                    </div>
                </div>

                <div class="npcinfo" v-if="myBox=='npc'">
                    <p>{{npc.name}}</p>
                    <hr />
                    <p v-for="description,index in npc.descriptions" v-html="description">
                        {{description}}
                    </p>
                    <div class="mt15">
                        <button type="button" v-for="action,index in npc.actions" @@click="npcAction(npc.id,action)">{{action.name}}</button>
                    </div>
                </div>

                <div class="myinfo" v-if="myBox=='me'">
                    <p>基本属性</p>
                    <hr />
                    <ul>
                        <li><label>【称号】</label><span>{{myinfo.title||"无"}}</span></li>
                        <li><label>【性别】</label><span>{{myinfo.gender}}</span></li>
                        <li><label>【年龄】</label><span>{{myinfo.age}}</span></li>
                        <li><label>【等级】</label><span>{{myinfo.level}}</span></li>
                        <li><label>【经验】</label><span>{{myinfo.exp}}</span></li>
                        <li><label>【潜能】</label><span>{{myinfo.pot}}</span></li>
                        <li class="long"><label>【气血】</label><span>{{myinfo.hp}}</span>/<span>{{myinfo.maxHp}}</span></li>
                        <li class="long"><label>【内力】</label><span>{{myinfo.mp}}</span>/<span>{{myinfo.maxMp}}</span>/<span>{{myinfo.limitMp}}</span></li>
                    </ul>

                    <p class="mt15">先天属性</p>
                    <hr />
                    <ul>
                        <li><label>【臂力】</label><span>{{myinfo.str}}</span><span v-show="myinfo.strAdd>0">+{{myinfo.strAdd}}</span></li>
                        <li><label>【根骨】</label><span>{{myinfo.con}}</span><span v-show="myinfo.conAdd>0">+{{myinfo.conAdd}}</span></li>
                        <li><label>【身法】</label><span>{{myinfo.dex}}</span><span v-show="myinfo.dexAdd>0">+{{myinfo.dexAdd}}</span></li>
                        <li><label>【悟性】</label><span>{{myinfo._int}}</span><span v-show="myinfo.intAdd>0">+{{myinfo.intAdd}}</span></li>
                        <li><label>【容貌】</label><span>{{myinfo.per}}</span></li>
                        <li><label>【福缘】</label><span>{{myinfo.kar}}</span></li>
                    </ul>

                    <p class="mt15">战斗属性</p>
                    <hr />
                    <ul>
                        <li><label>【攻击】</label><span>{{myinfo.atk}}</span></li>
                        <li><label>【防御】</label><span>{{myinfo.def}}</span></li>
                        <li><label>【命中】</label><span>{{myinfo.hit}}</span></li>
                        <li><label>【闪躲】</label><span>{{myinfo.flee}}</span></li>
                        <li><label>【招架】</label><span>{{myinfo.parry}}</span></li>
                    </ul>
                </div>

                <div class="status" v-if="myBox=='status'">
                    <p>状态</p>

                </div>

                <div class="mypack" v-if="myBox=='skill'">
                    <p>你学到的武功：</p>
                    <div class="mt15">
                        <button v-for="skill,index in skills" @@click="showSkillDetail(skill.playerSkillId)">
                            <span> {{skill.name}} </span>
                            <em>(Lv{{skill.level}})</em>
                        </button>
                    </div>
                </div>

                <div class="mypack" v-if="myBox=='friendSkill'">
                    <p>以下是{{friendSkills.player.name}}学到的武功：</p>
                    <div class="mt15">
                        <button v-for="skill,index in friendSkills.skills" @@click="showSkillDetail(skill.playerSkillId)">
                            <span> {{skill.name}} </span>
                            <em>(Lv{{skill.level}})</em>
                        </button>
                    </div>
                </div>


                <div class="status" v-if="myBox=='achv'">
                    <p>成就</p>

                </div>

                <div class="status" v-if="myBox=='help'">
                    <p>帮助文档正在紧张撰写中...</p>

                </div>

                <div class="status" v-if="myBox=='ranking'">
                    <p>排行榜正在统计中...</p>

                </div>

                <div class="friend" v-if="myBox=='friend'">
                    <p>我的好友</p>
                    <div class="mt15 mb15">
                        <p v-if="myFriends.friends.length==0">你还没有任何好友</p>
                        <button v-for="friend,index in myFriends.friends" @@click="showPlayer(friend.id)">
                            <span> {{friend.name}} </span>
                        </button>
                    </div>

                    <template v-if="myFriends.friendMes.length>0">
                        <hr />
                        <p class="mt15">请求加我的</p>
                        <div class="mt15 mb15">
                            <button v-for="friendMe,index in myFriends.friendMes" @@click="agreeFriend(friendMe.id,friendMe.name)">
                                <span> {{friendMe.name}} </span>
                            </button>
                        </div>

                    </template>
                    <template v-if="myFriends.requests.length>0">
                        <hr />
                        <p class="mt15">等待对方同意的</p>
                        <div class="mt15">
                            <button v-for="request,index in myFriends.requests">
                                <span> {{request.name}} </span>
                            </button>
                        </div>
                    </template>
                </div>

                <div class="status" v-if="myBox=='shop'">
                    <p>商店正在紧张装修中...</p>

                </div>


                <div class="weapon" v-if="myBox=='weapon'">
                    <p>你装备了以下物品：</p>
                    <hr />
                    <p><span>攻击：+{{myinfo.atk}}</span>   <span>防御：+{{myinfo.def}}</span> </p>
                    <hr />
                    <div class="mt15">
                        <button v-for="weapon,index in weapons">
                            [{{weapon.part}}]：
                            <template v-if="weapon.ware">
                                {{weapon.ware.name}}
                            </template>
                            <template v-else>
                                无
                            </template>
                        </button>
                    </div>
                </div>


                <div class="email" v-if="myBox=='email'">
                    <p v-if="myEmails&&myEmails.data&&myEmails.data.length>0">共有{{myEmails.data.length}}封邮件(点击标题展开)：</p>
                    <p v-else>收件箱没有任何邮件</p>
                    <ul class="mt15">
                        <li v-for="email,index in myEmails.data" @@click="showEmailDetail(email.id)">

                            <a href="javascript:;" v-if="email.status===0"> <font class="red">[未读]</font> <b>{{email.title}}</b> <span>({{email.createDate}})</span> </a>
                            <a href="javascript:;" v-else> {{email.title}} <span>({{email.createDate}})</span> </a>

                        </li>
                    </ul>
                    <p class="mt15 paging">
                        <a href="javascript:;" @@click="showEmail(myEmails.pageIndex-1)" v-if="myEmails.pageIndex>1">上一页</a>

                        <a href="javascript:;" @@click="showEmail(myEmails.pageIndex+1)" v-if="myEmails.pageIndex>myEmails.pageCount&&myEmails.pageCount>0">下一页</a>
                    </p>
                </div>


                <div class="mypack" v-if="myBox=='mypack'">

                    <p v-if="myPack.money===''">你身无分文。</p>
                    <p v-else>你有{{myPack.money}}</p>

                    <p v-if="myPack.wares.length===0">身上没有携带任何物品。</p>
                    <p v-else>身上共有{{myPack.wares.length}}件物品：</p>
                    <div class="mt15">
                        <button v-for="myWare,index in myPack.wares" @@click="showWare(myWare.playerWareId)">
                            <span> {{myWare.name}} </span>
                            <em>({{myWare.number}}个)</em>
                            <span v-if="myWare.status===1"> √</span>
                        </button>
                    </div>

                </div>

                <div class="quest" v-if="myBox=='activityQuest1'">
                    <p v-if="myQuests&&myQuests.length>0">共有{{myQuests.length}}个任务(点击展开)：</p>
                    <p v-else>没有任何进行中的新手任务</p>
                    <ul class="mt15">
                        <li v-for="quest,index in myQuests" @@click="showQuestDetail(quest.id)">

                            <a href="javascript:;"> {{quest.name }} <span>({{quest.type}})</span> </a>

                        </li>
                    </ul>

                </div>

                <div class="quest" v-if="myBox=='activityQuest2'">
                    <p v-if="myQuests&&myQuests.length>0">共有{{myQuests.length}}个任务(点击展开)：</p>
                    <p v-else>没有任何进行中的主线任务</p>
                    <ul class="mt15">
                        <li v-for="quest,index in myQuests" @@click="showQuestDetail(quest.id)">

                            <a href="javascript:;"> {{quest.name }} <span>({{quest.type}})</span> </a>

                        </li>
                    </ul>

                </div>

                <div class="quest" v-if="myBox=='activityQuest3'">
                    <p v-if="myQuests&&myQuests.length>0">共有{{myQuests.length}}个任务(点击展开)：</p>
                    <p v-else>没有任何进行中的日常任务</p>
                    <ul class="mt15">
                        <li v-for="quest,index in myQuests" @@click="showQuestDetail(quest.id)">

                            <a href="javascript:;"> {{quest.name }} <span>({{quest.type}})</span> </a>

                        </li>
                    </ul>

                </div>

                <div class="quest" v-if="myBox=='activityQuest4'">
                    <p v-if="myQuests&&myQuests.length>0">共有{{myQuests.length}}个任务(点击展开)：</p>
                    <p v-else>没有任何进行中的支线任务</p>
                    <ul class="mt15">
                        <li v-for="quest,index in myQuests" @@click="showQuestDetail(quest.id)">

                            <a href="javascript:;"> {{quest.name }} <span>({{quest.type}})</span> </a>

                        </li>
                    </ul>

                </div>


                <div class="quest" v-if="myBox=='historyQuest'">
                    <p v-if="myHistoryQuests&&myHistoryQuests.length>0">共有{{myHistoryQuests.length}}个任务(点击展开)：</p>
                    <p v-else>没有任何任务</p>
                    <ul class="mt15">
                        <li v-for="quest,index in myHistoryQuests" @@click="showQuestDetail(quest.id)">

                            <a href="javascript:;"> {{quest.name}} <span>({{quest.type}})</span> </a>

                        </li>
                    </ul>

                </div>


                <div class="fighting" v-if="myBox=='fighting'">
                    <div class="fightingBox">
                        <div class="fightingTarget" v-for="fightTarget,index in fightTargets">
                            <div class="hp">
                                <div class="hpLine" :style="        'width:'+ (fightTarget.hp > fightTarget.maxHp ? 100 : (fightTarget.hp + 1) * 100 / (fightTarget.maxHp + 1)) +'px'"></div>
                            </div>
                            <div class="mp">
                                <div class="mpLine" :style="'width:'+ (fightTarget.mp > fightTarget.maxMp ? 100 : (fightTarget.mp + 1) * 100 / (fightTarget.maxMp + 1)) +'px'"></div>
                            </div>
                            <div class="targetName">
                                <span>{{fightTarget.targetName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="fighting_command">
                        <button>按钮</button>
                        <button>按钮</button>
                        <button>按钮</button>
                        <button>按钮</button>
                        <button>按钮</button>
                        <button>按钮</button>
                        <button>按钮</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="myDetail" ref="myDetail" v-show="myDetail!=''">
            <div v-if="myDetail=='ware'">

                <div class="myDetailTitle" ref="myDetailTitle">
                    <span class="title">[{{myWare.name}}]({{myWare.number}}个)</span>
                    <span class="back" @@click="myDetail=''">返回</span>
                </div>
                <div class="detail" ref="detail">
                    <p v-html="myWare.description">{{myWare.description}}</p>
                    <hr />
                    <p v-if="myWare.wareEffect.length>0">
                        <span v-if="myWare.wareEffect && myWare.wareEffect.atk>0">
                            攻击 +{{myWare.wareEffect.atk}}
                        </span>
                        <span v-if="myWare.wareEffect && myWare.wareEffect.def>0">
                            防御 +{{myWare.wareEffect.def}}
                        </span>
                        <span v-if="myWare.wareEffect && myWare.wareEffect.hp>0">
                            气血 +{{myWare.wareEffect.hp}}
                        </span>
                        <span v-if="myWare.wareEffect && myWare.wareEffect.mp>0">
                            内力 +{{myWare.wareEffect.mp}}
                        </span>

                    </p>
                    <hr v-if="myWare.wareEffect.length>0" />
                    <button v-if="myWare.category===102&&myWare.status===0" @@click="load(myWare.playerWareId)">装备</button>
                    <button v-if="myWare.category===102&&myWare.status===1" @@click="unload(myWare.playerWareId)">卸下</button>
                    <button v-if="myWare.status===0" @@click="drop(myWare.name,myWare.playerWareId)">丢弃</button>
                </div>
            </div>

            <div v-if="myDetail=='email'">

                <div class="myDetailTitle" ref="myDetailTitle">
                    <span class="title">{{myEmail.title}}</span>
                    <span class="back" @@click="myDetail=''">返回</span>
                </div>
                <div class="detail" ref="detail">
                    <p v-html="myEmail.content">{{myEmail.content}}</p>

                    <p>
                        发送于：<span>{{myEmail.createDate}}</span>
                    </p>
                    <hr />
                    <button type="button" @@click.stop="deleteEmail(myEmail.id,myEmail.title)">删除</button>
                </div>
            </div>

            <div v-if="myDetail=='quest'">

                <div class="myDetailTitle" ref="myDetailTitle">
                    <span class="title">{{quest.name}}[{{quest.type}}]</span>
                    <span class="back" @@click="myDetail=''">返回</span>
                </div>
                <div class="detail" ref="detail">
                    <p v-html="quest.description">{{quest.description}}</p>
                    <hr />
                    <p v-html="quest.rewardDescription">
                        奖励：{{quest.rewardDescription}}
                    </p>
                    <hr />
                    <p>
                        限制：<span>{{quest.period}}</span>
                    </p>
                </div>
            </div>


            <div v-if="myDetail=='skill'">

                <div class="myDetailTitle" ref="myDetailTitle">
                    <span class="title">[{{mySkill.name}}](Lv.{{mySkill.level}})</span>
                    <span class="back" @@click="myDetail=''">返回</span>
                </div>
                <div class="detail" ref="detail">
                    <p v-html="mySkill.description">{{mySkill.description}}</p>
                    <hr />


                    <button @@click="learnSkill(mySkill.playerSkillId)" v-show="myinfo.status=='空闲'">修练</button>

                    <button @@click="stopAction" v-show="myinfo.status!='空闲'">停止{{myinfo.status}}</button>
                </div>
            </div>
        </div>

        <template>
            <transition name="confirm-fade">
                <div v-if="modal.isShowConfirm" class="my-confirm" @@click.stop="confirmEvent('cancel')">
                    <div class="confirm-content-wrap" @@click.stop>
                        <h3 class="my-confirm-title">{{ modal.title }}</h3>

                        <p v-if="modal.type==='confirm'" class="my-confirm-content" v-html="modal.content">{{ modal.content }}</p>
                        <p v-else class="my-confirm-content" v-html="modal.content" style="text-align:left;">{{ modal.content }}</p>

                        <div class="my-operation">
                            <div v-if="modal.type==='confirm'" class="my-cancel-btn" @@click="confirmEvent('no')">
                                <p class="my-btn-text my-border-right">{{ modal.cancelText }}</p>
                            </div>
                            <div class="confirm-btn" @@click="confirmEvent('ok')">
                                <p class="my-btn-text">{{ modal.confirmText }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </template>
    </div>
    <script src="/lib/vue/vue.js" type="text/javascript"></script>
    <script src="/lib/signalr/signalr.min.js" type="text/javascript"></script>
    <script src="/js/game.js" type="text/javascript"></script>
</body>
</html>