@page
@model Emprise.Web.Pages.Game.OfflineModel


<div style="margin-top:50px; text-align:center;">
    <p style="color: #FFFFFF; font-size: 18px; ">您的帐号在其他地方登录，您已被迫下线！</p>


</div>


<div style="margin-top:50px; text-align:center;">
    <a href="/" style="color: #FFFFFF; font-size: 16px;margin-top:30px;  ">返回首页</a>
</div>


