@page
@model Emprise.Admin.Pages.Script.DeleteModel
@{
    ViewData["Title"] = "脚本管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">脚本管理</strong> / <small>Script</small></div>
</div>

<div class="am-tabs am-margin" data-am-tabs>
    是否要删除脚本  "@(Model.Script?.Name)(id=@(Model.Script?.Id))" ?
</div>

<div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs">确认删除</button>
    <a asp-page="./Index" class="am-btn am-btn-default am-btn-xs backup">返回</a>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}
