/* Write your styles */
.table-title {
    width: 120px;
}
.table-exits {
    width: 180px;
}
.table-work {
    width: 180px;
}
.table-set {
    width: 210px;
}
.table-desc {
}
.text-danger{
    color:#FF0000; font-size:12px;
}

.am-form{
    margin-bottom:60px;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 9999;
}
table {
    table-layout: fixed;
    word-break: break-all;
}
td {
    word-break: keep-all; /* for ie */
    white-space: nowrap; /* for chrome */
    overflow:hidden;
}