@page
@model Emprise.Admin.Pages.Ware.DeleteModel
@{
    ViewData["Title"] = "物品管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">物品管理</strong> / <small>删除物品</small></div>
</div>

<div class="am-tabs am-margin" data-am-tabs>
    是否要删除物品  "@(Model.Ware?.Name)(id=@(Model.Ware?.Id))" ?
</div>

<div class="am-margin">
    <form class="am-form" method="post">
        <button type="submit" class="am-btn am-btn-primary am-btn-xs">确认删除</button>
        <a href="@(Model.UrlReferer)" class="am-btn am-btn-default am-btn-xs backup">返回</a>
        <input type="hidden" asp-for="UrlReferer">
    </form>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}
